<!DOCTYPE html>
<html>
  <head>
    <title>Courses</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if logged_in? -%>
      Вы вошли как <%= current_user.login %>.
      <%= link_to "Выйти", logout_path, method: :delete  %>
    <% else %>
      <%= link_to "Зарегистрироваться", signup_path %> or
      <%= link_to "Войти", login_path %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
